

  <section class="mt-4 ">
    <div class="row justify-content-center justify-content-sm-center justify-content-md-start ms-md-4 justify-content-lg-start">
        <div class="col-11 mb-5 col-sm-8 mx-sm-2 mb-sm-3 col-md-3 mb-md-3 col-lg-3 mb-lg-3 col-xl-2 mb-xl-3">
            <app-skill></app-skill>
        </div>
        <div class="col-11 mb-5 col-sm-8 mx-sm-2 mb-sm-3 col-md-3 mb-md-3 col-lg-3 mb-lg-3 col-xl-2 mb-xl-3">
            <app-skill></app-skill>
        </div>
        <div class="col-11 mb-5 col-sm-8 mx-sm-2 mb-sm-3 col-md-3 mb-md-3 col-lg-3 mb-lg-3 col-xl-2 mb-xl-3">
            <app-skill></app-skill>
        </div>
        <div class="col-11 mb-5 col-sm-8 mx-sm-2 mb-sm-3 col-md-3 mb-md-3 col-lg-3 mb-lg-3 col-xl-2 mb-xl-3">
            <app-skill></app-skill>
        </div>
        
    </div>
</section>